<h2>Welcome to <strong>Melody Underdog</strong></h2>
<p>This is not an app for popular music videos</p>
<h3>Why is this app useless?</h3>
<ul>
    <li>It is created for educational purposes</li>
    <li>Data is stored inside a file!!!</li>
</ul>
