<fieldset>
    <legend>Add a new song</legend>
    <div class="form-group">
        <label for="tb-song-title">
            Title:
        </label>
        <input type="text" class="form-control" id="tb-song-title"/>
    </div>
    <div class="form-group">
        <label for="tb-song-url">Url:</label>
        <input type="text" class="form-control" id="tb-song-url"/>
    </div>
    <div class="form-group">
        <label for="tb-song-description">Description:</label>
        <input type="text" id="tb-song-description" class="form-control"/>
    </div>
    <button class="form-control btn btn-primary" id="btn-song-add">Add</button>
</fieldset>