<form id="add-song-form" class="form-horizontal">
    <div class="form-group">
        <label class="control-label" for="tb-song-title">Title</label>
        <input id="tb-song-title" type="text" class="form-control" name="title"
               data-bv-notempty="true"
               data-bv-notempty-message="The title is required and cannot be empty"

               data-bv-stringlength="true"
               data-bv-stringlength-min="6"
               data-bv-stringlength-max="30"
               data-bv-stringlength-message="The title should be more than 6 and less than 30 characters long"

               data-bv-regexp="true"
               data-bv-regexp-regexp="^[a-zA-Z0-9 ]+$"
               data-bv-regexp-message="The title can only consist of alphabetical, space and numbers"
        />

        <label class="control-label" for="tb-song-url">Url</label>
        <input id="tb-song-url" type="text" class="form-control" name="url"
               data-bv-notempty="true"
               data-bv-notempty-message="The url of the song is required and cannot be empty"

               data-bv-regexp="true"
               data-bv-regexp-regexp="^(https?\:\/\/)?((www\.)?youtube\.com|youtu\.?be)\/.+$"
               data-bv-regexp-message="Must be a valid YouTube url"
        />

        <label class="control-label" for="tb-song-description">Description</label>
        <input id="tb-song-description" type="text" class="form-control" name="description"
               data-bv-regexp="true"
               data-bv-regexp-regexp="^[a-zA-Z0-9 ]+$"
               data-bv-regexp-message="The description can only consist of alphabetical, space and numbers"
        />
    </div>

    <div class="form-group">
        <div class="col-sm-9 col-sm-offset-3">
            <!-- Do NOT use name="submit" or id="submit" for the Submit button -->
            <button id="btn-song-add" type="submit" class="btn btn-default btn-block">Add Song</button>
        </div>
    </div>

</form>
