<div class="content-users col-md-4">
    <h2>Users</h2>
    <ul>
        {{#this}}
            <li data-id="{{id}}" class="user-box list-group-item">{{username}}
            </li>
        {{/this}}
    </ul>
</div>