<fieldset>
    <legend>Add a new video</legend>
    <div class="form-group">
        <label for="tb-video-title">
            Title:
        </label>
        <input type="text" class="form-control" id="tb-video-title"/>
    </div>
    <div class="form-group">
        <label for="tb-video-url">Url:</label>
        <input type="text" class="form-control" id="tb-video-url"/>
    </div>
    <div class="form-group">
        <label for="tb-video-description">Description:</label>
        <input type="text" id="tb-video-description" class="form-control"/>
    </div>
    <button class="form-control btn btn-primary" id="btn-video-add">Add</button>
</fieldset>