<button id="btn-sign-out" class="suit_and_tie pull-right">Sign out</button>

<button type="button" class="btn btn-default btn-md pull-right">
    <span class="glyphicon glyphicon-user" aria-hidden="true"></span><span
        id="signed-in-user"></span>
</button>