<div class="page-header col-md-4">

    <img src="./images/logo.png" width="50" height="50" srcset="./images/tengu-logo.svg" alt="music app logo">

    <h1>MelodyUnderdog</h1>
    <h3>
        <small>Share links to underrated <span>YouTube</span> songs</small>
    </h3>
</div>