<div class="form-group pull-right">
    <input type="text" class="form-control" id="tb-username" name="username"
           placeholder="Username"/>
</div>

<div class="form-group pull-right">
    <input type="password" class="form-control" id="tb-password" name="password"
           placeholder="Password"/>
</div>

<div class="form-subgroup pull-right">
    <div class="checkbox">
        <label>
            <input type="checkbox"> Remember me
        </label>
    </div>
    <a href="#/users/register" class="text-primary"> or Register</a>
    <button id="btn-sign-in" class="suit_and_tie">Sign in</button>
</div>